$primary-blue-light: #72AFFF;
$primary-blue-dark: #0066FF;

$secondary-blue-light: #B2E9FF;

$tertiary-blue-light: #00D0FF;

$background-color: #e5e5e5;
$text-color: #555555;
$text-color-light: #d6d6d6;

//GRID
$grid-width:160rem;
$grid-width-large:170rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal-large:32rem;
$gutter-horizontal:16rem;
$gutter-horizontal-small:10rem;

$gutter-horizontal-small-ie:9.8rem;
$gutter-horizontal-ie:15.8rem;
